# Application Settings
server:
  enabled: true
  replicaCount: 1
  retention: 15d
  global:
    scrape_interval: 1m
    scrape_timeout: 10s
    evaluation_interval: 1m
  persistentVolume:
    enabled: true
    size: 8Gi
  service:
    type: NodePort
    nodePort: 30100
  resources: {}

# Security and Access Management
rbac:
  create: true
serviceAccounts:
  server:
    create: true

# Prometheus Features
# Used for applications to push metrics that cannot be scraped
prometheus-pushgateway:
  enabled: false
  resources: {}
# Exports metrics from Kubernetes Cluster Nodes
prometheus-node-exporter:
  enabled: true
  rbac:
    create: true
  resources: {}
# Manage alerts from Metrics.
alertmanager:
  enabled: false

# Other Features
# Used to generate metrics about the state of the objects
kube-state-metrics:
  enabled: true
  resources: {}

# Scraping Configuration
# Note: Some default scrape settings such as "slow", the ones that requires blackbox exporters and for
# Prometheus push Gateway were removed because they will not be used in this lab. If you want to understand
# more what were disabled or are using this for production purposes see the values.yaml file in the `helm`
# subfolder.
serverFiles:
  alerting_rules.yml: {} ## Ref: https://prometheus.io/docs/prometheus/latest/configuration/alerting_rules/
  recording_rules.yml: {} ## Ref: https://prometheus.io/docs/prometheus/latest/configuration/recording_rules/
  prometheus.yml:
    rule_files:
      - /etc/config/recording_rules.yml
      - /etc/config/alerting_rules.yml
    scrape_configs:
      # --- Resources Monitoring ---
      # Scrape config for Prometheus Itself
      - job_name: prometheus
        static_configs:
          - targets:
              - localhost:9090
      # --- Cluster Monitoring ---
      # Scrape config for State Metrics
      - job_name: kube-state-metrics
        scheme: http
        honor_labels: true
        static_configs:
          - targets:
              - prometheus-kube-state-metrics.monitoring.svc.cluster.local:8080
      # Scrape config for API servers.
      - job_name: kubernetes-apiservers
        kubernetes_sd_configs:
          - role: endpoints
        scheme: https
        tls_config:
          ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
          insecure_skip_verify: true
        bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
        relabel_configs:
          - source_labels: [
                __meta_kubernetes_namespace, # yamllint disable-line rule:indentation
                __meta_kubernetes_service_name, # yamllint disable-line rule:indentation
                __meta_kubernetes_endpoint_port_name, # yamllint disable-line rule:indentation
              ] # yamllint disable-line rule:indentation
            action: keep
            regex: default;kubernetes;https
      # Scrape config for service endpoints.
      # NOTE: To be able to scrape, the pods require the following annotations:
      # * `prometheus.io/scrape`: Only scrape services that have a value of `true`, except if
      #     `prometheus.io/scrape-slow` is set to `true` as well.
      # * `prometheus.io/scheme`: If the metrics endpoint is secured then you will need to set this to
      #     `https` & most likely set the `tls_config` of the scrape config.
      # * `prometheus.io/path`: If the metrics path is not `/metrics` override this.
      # * `prometheus.io/port`: If the metrics are exposed on a different port to the service then set this
      #     appropriately.
      # * `prometheus.io/param_<parameter>`: If the metrics endpoint uses parameters then you can set
      #     any parameter
      - job_name: kubernetes-service-endpoints
        honor_labels: true
        kubernetes_sd_configs:
          - role: endpoints
        relabel_configs:
          - source_labels:
              [__meta_kubernetes_service_annotation_prometheus_io_scrape]
            action: keep
            regex: true
          - source_labels:
              [__meta_kubernetes_service_annotation_prometheus_io_scrape_slow]
            action: drop
            regex: true
          - source_labels:
              [__meta_kubernetes_service_annotation_prometheus_io_scheme]
            action: replace
            target_label: __scheme__
            regex: (https?)
          - source_labels:
              [__meta_kubernetes_service_annotation_prometheus_io_path]
            action: replace
            target_label: __metrics_path__
            regex: (.+)
          - source_labels:
              [
                __address__,
                __meta_kubernetes_service_annotation_prometheus_io_port,
              ]
            action: replace
            target_label: __address__
            regex: (.+?)(?::\d+)?;(\d+)
            replacement: $1:$2
          - action: labelmap
            regex: __meta_kubernetes_service_annotation_prometheus_io_param_(.+)
            replacement: __param_$1
          - action: labelmap
            regex: __meta_kubernetes_service_label_(.+)
          - source_labels: [__meta_kubernetes_namespace]
            action: replace
            target_label: namespace
          - source_labels: [__meta_kubernetes_service_name]
            action: replace
            target_label: service
          - source_labels: [__meta_kubernetes_pod_node_name]
            action: replace
            target_label: node
      # Scrape config for pods.
      # NOTE: To be able to scrape, the pods require the following annotations:
      # * `prometheus.io/scrape`: Only scrape pods that have a value of `true`, except if
      #     `prometheus.io/scrape-slow` is set to `true` as well.
      # * `prometheus.io/scheme`: If the metrics endpoint is secured then you will need to set this to
      #     `https` & most likely set the `tls_config` of the scrape config.
      # * `prometheus.io/path`: If the metrics path is not `/metrics` override this.
      # * `prometheus.io/port`: Scrape the pod on the indicated port instead of the default of `9102`.
      - job_name: kubernetes-pods
        honor_labels: true
        tls_config:
          insecure_skip_verify: true
        kubernetes_sd_configs:
          - role: pod
        relabel_configs:
          - source_labels:
              [__meta_kubernetes_pod_annotation_prometheus_io_scrape]
            action: keep
            regex: true
          - source_labels:
              [__meta_kubernetes_pod_annotation_prometheus_io_scrape_slow]
            action: drop
            regex: true
          - source_labels:
              [__meta_kubernetes_pod_annotation_prometheus_io_scheme]
            action: replace
            regex: (https?)
            target_label: __scheme__
          - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_path]
            action: replace
            target_label: __metrics_path__
            regex: (.+) # yamllint disable-line rule:quoted-strings
          - source_labels:
              [
                __meta_kubernetes_pod_annotation_prometheus_io_port,
                __meta_kubernetes_pod_ip,
              ]
            action: replace
            regex: (\d+);(([A-Fa-f0-9]{1,4}::?){1,7}[A-Fa-f0-9]{1,4})
            replacement: "[$2]:$1" # yamllint disable-line rule:quoted-strings
            target_label: __address__
          - source_labels:
              [
                __meta_kubernetes_pod_annotation_prometheus_io_port,
                __meta_kubernetes_pod_ip,
              ]
            action: replace
            regex: (\d+);((([0-9]+?)(\.|$)){4})
            replacement: $2:$1
            target_label: __address__
          - action: labelmap
            regex: __meta_kubernetes_pod_annotation_prometheus_io_param_(.+)
            replacement: __param_$1
          - action: labelmap
            regex: __meta_kubernetes_pod_label_(.+)
          - source_labels: [__meta_kubernetes_namespace]
            action: replace
            target_label: namespace
          - source_labels: [__meta_kubernetes_pod_name]
            action: replace
            target_label: pod
          - source_labels: [__meta_kubernetes_pod_phase]
            regex: Pending|Succeeded|Failed|Completed
            action: drop
          - source_labels: [__meta_kubernetes_pod_node_name]
            action: replace
            target_label: node
      # Scrape config for Kubernetes Nodes
      - job_name: kubernetes-nodes
        scheme: https
        tls_config:
          ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
          insecure_skip_verify: true
        bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
        kubernetes_sd_configs:
          - role: node
        relabel_configs:
          - action: labelmap
            regex: __meta_kubernetes_node_label_(.+)
          - target_label: __address__
            replacement: kubernetes.default.svc:443
          - source_labels: [__meta_kubernetes_node_name]
            regex: (.+)
            target_label: __metrics_path__
            replacement: /api/v1/nodes/$1/proxy/metrics
      # Scrape config for Kubernetes Nodes CAdivisor (monitors resources and performance of Containers)
      - job_name: kubernetes-nodes-cadvisor
        scheme: https
        tls_config:
          ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
          insecure_skip_verify: true
        bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
        kubernetes_sd_configs:
          - role: node
        relabel_configs:
          - action: labelmap
            regex: __meta_kubernetes_node_label_(.+)
          - target_label: __address__
            replacement: kubernetes.default.svc:443
          - source_labels: [__meta_kubernetes_node_name]
            regex: (.+)
            target_label: __metrics_path__
            replacement: /api/v1/nodes/$1/proxy/metrics/cadvisor
